a {
  text-decoration: none;
}
.header_flex {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-content: center;
}
.menu_flex {
  display: flex;
}
.menu_gap {
  margin: 0px 20px;
}
.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: white;
  background-color: #045821;
  margin-top: 10px;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.card {
  padding-bottom: 12px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: 0.3s;
  width: 30%;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(37, 56, 50, 1);
  margin-bottom: 10px;
  color: white;
}
.container {
  padding: 2px 16px;
}
.btn_display {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn_delete {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 120px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: white;
  background-color: #ae0707;
  margin-top: 10px;
}
.btn_edit {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 120px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: white;
  background-color: #ce910f;
  margin-top: 10px;
}

.text-center {
  text-align: center;
}
input[type="text"],
select,
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .card {
    width: 45%;
  }
  .menu_flex {
    display: none;
  }
  .header_flex {
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .card {
    width: 70%;
  }
  .menu_flex {
    display: none;
  }
  .header_flex {
    justify-content: center;
  }
}
